$one-color: #6b6b6b;
$two-color: #f0f0f0;
$three-color: #c4c4c4;
$four-color: #858585;
$five-color: #000000;

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $one-color;
}
.App {
  background: $four-color;
  margin: 20px auto;

  padding: 20px;
  width: 90%;
  border-radius: 40px;
  max-width: 900px;
  color: $five-color;
}
.navbar {
  padding: 10px 20px;
  text-align: center;
  background: $three-color;

  border-radius: 20px;
}

.item-list {
  margin: 20px;
}
.item-list ul {
  padding: 0;
  list-style-type: none;
}

.empty {
  margin: 20px;
  text-align: center;
}

form {
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: $two-color;
  color: $five-color;
  border: 0;

  border-radius: 10px;
}
input[type="submit"] {
  width: auto;
  margin: 10px auto;
  background: $two-color;
  border: 0;
  padding: 10px 20px;
  display: block;

  border-radius: 10px;
}

.remove {
  width: auto;
  margin: 10px auto;
  background: $two-color;
  border: 0;
  padding: 6px 20px;
  display: block;

  color: $five-color;
}
.remove:hover {
  opacity: 0.7;
  cursor: pointer;
}
.item-grid-container {
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.9fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 4px;
  padding: 2px 10px;
  grid-template-areas: "item-date item-category item-description item-value item-x item-edit";
}

.item-date {
  grid-area: item-date;
  padding: 10px;
  background: $two-color;
}

.item-category {
  grid-area: item-category;
  padding: 10px;
  background: $two-color;
}

.item-description {
  grid-area: item-description;
  padding: 10px;
  background: $two-color;
}

.item-value {
  grid-area: item-value;
  padding: 10px;
  background: $two-color;
  color: rgb(221, 79, 13);
  font-weight: 500;
}
.item-x {
  grid-area: item-x;
  padding: 10px;
  background: $two-color;
}
.item-x:hover {
  opacity: 0.7;
  cursor: pointer;
}

.item-edit {
  grid-area: item-edit;
  padding: 10px;
  background: $two-color;
}
.item-edit:hover {
  opacity: 0.7;
  cursor: pointer;
}

.title-grid-container {
  font-weight: 500;
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.9fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 4px;
  padding: 20px 10px;
  border-radius: 20px 20px 0px 0px;
  grid-template-areas: "item-date item-category item-description item-value item-x item-edit";
}

.title-date {
  grid-area: item-date;
  padding: 10px;
  border-radius: 10px 0px 0px 0px;
  background: $two-color;
}

.title-category {
  grid-area: item-category;
  padding: 10px;
  background: $two-color;
}

.title-description {
  grid-area: item-description;
  padding: 10px;
  background: $two-color;
}

.title-value {
  grid-area: item-value;
  padding: 10px;
  background: $two-color;
}
.title-x {
  grid-area: item-x;
  padding: 10px;
  background: $two-color;
}
.title-edit {
  grid-area: item-edit;
  padding: 10px;
  background: $two-color;
  border-radius: 0px 10px 0px 0px;
}
