body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4c2a4c;
}
.App {
  background: #4c2a4c;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  color: #eee;
}
.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}
.navbar h1 {
  margin: 10px 0;
}

.item-list {
  margin: 20px;
}
.item-list ul {
  padding: 0;
  list-style-type: none;
}
.item-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.item-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.item-list .author {
  font-size: 0.9em;
  color: #ddd;
}
.empty {
  margin: 20px;
  text-align: center;
}

form {
  padding: 20px;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
}
input[type="submit"] {
  width: auto;
  margin: 10px auto;
  background: #3c1f3c;
  border: 0;
  padding: 6px 20px;
  display: block;
}

.remove {
  width: auto;
  margin: 10px auto;
  background: #3c1f3c;
  border: 0;
  padding: 6px 20px;
  display: block;

  color: #fff;
}
.remove:hover {
  opacity: 0.7;
  cursor: pointer;
}
.it-grid-container {
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.9fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  padding: 20px 0px;
  margin-top: 10px;
  grid-template-areas: "it-date it-category it-description it-value it-x it-edit";
}

.it-date {
  grid-area: it-date;
  padding: 10px;
  background: #3c1f3c;
}

.it-category {
  grid-area: it-category;
  padding: 10px;
  background: #3c1f3c;
}

.it-description {
  grid-area: it-description;
  padding: 10px;
  background: #3c1f3c;
}

.it-value {
  grid-area: it-value;
  padding: 10px;
  background: #3c1f3c;
}
.it-x {
  grid-area: it-x;
  padding: 10px;
  background: #3c1f3c;
}

.it-edit {
  grid-area: it-edit;
  padding: 10px;
  background: #3c1f3c;
}
